body {
    margin: 0;
    background: #222;
    font-family: Arial, sans-serif;
}
.custom-header {
    width: 100vw;
}

.main-nav {
    width: 100%;
    background: rgba(24, 24, 24, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
}

.main-nav ul li {
    margin: 0 20px;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.header-bg {
    position: relative;
    height: 300px;   /* ose 350px ose sa të duhet */
    width: 100%;
    overflow: hidden; /* opsionale, për të rregulluar prerjet */
}



.header-image {
    position: relative;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
    filter: brightness(0.65);
}
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #fff;
}

.center-content h1 {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
    font-family: "Roboto Slab", serif;
}

.center-content p {
    font-size: 1.2rem;
    margin: 0;
    opacity: 0.95;
    font-family: "Roboto Slab", serif;
}
/*NAVBAR after scrolling*/
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.5); /*Dark background after scrolling */
    backdrop-filter: blur(4px); /*Blur effect. */
  }

  .about-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.about-text {
    flex: 1.2;
    font-family: "Nunito Sans", sans-serif;
}

.about-text h2 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 700;
}

.about-text p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
    color:white;
}

.contact-box {
    flex: 1;
    background:rgb(100, 82, 60);
    padding: 25px;
    border-radius: 10px;
}

.contact-box h3 {
    margin-bottom: 15px;
    font-size: 24px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}

.contact-form button {
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.contact-form button:hover {
    background: #333;
}

